body
{
  background-size: 1600px 500px;
  background-repeat: no-repeat;
}
h1
{
 top:5;
 color:red;
 font-size: 300%;
 text-align:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  position: fixed;
  top: 2;
  width: 200%;
}
h2
{
  top:5;
  color:black;
  text-align: center;
}

li {
  float: left;
}
li a
{
  display:block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
